* {
    box-sizing: border-box;
}
body {
    /* default settings for website */
    margin: 0;
    padding: 20px;
    background: rgb(10, 14, 14);
    font-size: 17px;
    color: #ccc;
    /* set default color for font in website */
    font-weight: 400;
    margin: 10px;
    font-family: Vollkorn,-apple-system,BlinkMacSystemFont,Georgia,Times New Roman,Times,serif;
}

/* Website Content */
.container:first-child {
    border-bottom: none;
    /* remove border bottom on first container */
}
hr {
    margin: 2px;
    padding: 0.1px;
    border: 0.3px solid rgb(139, 138, 138);
    /* Style first underline */
}
.container {
    margin: 0 auto;
    /* removed align content */
    max-width: 1240px;
    text-align: center;
    border-bottom: 0.4px solid rgb(187, 171, 171);
    padding-bottom: 30px;
    /* This container styles the container wrapper */
}
.grid-content {
    /* Styles the First grid container styling */
    display: grid;
    grid-template-columns: repeat(1, auto);
    /* Mobile View 1 column and in a few rows */
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    align-content: center;
}
.grid-content2 {
    /* Styles the 2nd grid-content for mobile */
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 15px;
    align-content: center; 
    /* only adding 4 rows to our grid-container 
    otherwise inherit the previous properties
    */
}
.grid-content3 {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    align-content: center;
    /* style the 2nd grid for mobile view */
}

.grid-content2 img, .grid-content3 img {
    width: 100%;
    /* styling the grid section images for responsive mode*/
}

.grid-2-full {
    /* Photopgrahy image 2 styling */
    grid-column: span 2;
    grid-row: span 2;
}

.grid-item figure {
    text-align: left;
    /* Takes your content of text to the left */
}
figure {
    /* width: 100%; */
    /* makes the figure content centralized */
    margin: 0 20px;
    /* centers the content*/
}
.grid-item > figure > figcaption {
    /* Styles the gallery content items */
    font-size: 16px;
    line-height: 1.92em;
    margin-bottom: -14px;
    margin-top: 10px;
}

.grid-item figure img {
    width: 100%;
    height: 100%;
}
.top-context {
    color: #ccc;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
    padding: -10px 32px;
}

.item {
    /* background: #0585a5; */
    padding: 20px;
}
/* random images */
a>img {
    transition: 2s;
}
figure > img {
    /* transition: 2s; */
}
a>img:hover, figure > img:hover {
    opacity: 0.5;
    cursor: pointer;

}

/* Styling the Header file */

header {
    /* background: transparent; */
}
header figure img {
    width: 120px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
        /* Center the image and fix shape  */
}
figcaption p:first-child {
    color: #fff;
    /* removed display inline block */
    font-size: 47px;
    font-weight: 700;
    margin-bottom: -10px;
    /* This will style the Hello Emoji  */
}
figcaption p {
    font-size: 1.6em;
    color: #fff;
}
    /* yellow span text */
.y-text a {
    color: #ff3;
    font-weight: 600;
    text-decoration: none;
}
.y-text a:hover {
    color:#666;
    transition: 0.5s;
}
figcaption > .y-text a {
    font-size: 24px;
    font-weight: 100;
}


.center-head h2 {
    color: #fff;
    font-size: 47px;
    font-weight: 800;
}
   
/*  Second Section( Item 2 part)  */


/* Nested grid with Image gallery */

.fig-word {
    font-size: 16px;
    line-height: 1.35em;
    margin-bottom: 4px;
    font-weight: 100;
}
h3,h4 {
    margin:0;
    /* remove default margin on heading */
}
.fig-word-bottom {
    
    /* styles from the site  */
    color: #9e9e9e;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

 /*Top Section Responsive  */
 @media (max-width: 650px){
    .container {
        width: 100%;
        overflow-x: hidden;
    }
    .grid-content2 {
         display: block;
         /* This displays the whole grid 
         as a block and makes it 100% before
          the grid is applied with gaps*/
          /* margin-bottom: ; */
    }
    .grid-content2 > .grid-item2 {
        margin-bottom: 5px;
    }
    .bottom-content {
        padding: 15px;
    }
    .grid-content > figure {
        width: 100%;
        /* makes the figure content centralized */
        /* margin: 0 auto; */
        /* centers the content*/
    }
    .grid-item > figure > figcaption {
        line-height: 1.50em;
    }
    .grid-content2, .grid-content3 {
        /* width: 100%; */
        /* styling the grid section images for responsive mode*/
        margin: 0 10px;
        /* grid-gap: 15px; */
    }   
}  
/* Bottom Section */

nav .y-text {
    text-decoration: none;
    color:#ff3;
    /* may need to remove the redundant code */
    padding-right: 25px;
    font-size: 20px;
}
nav a:hover {
    color:#666;
    transition: 0.5s;
}

@media (min-width: 600px) {
    .grid-content,.grid-content2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item figure img {
        /* width: 50%; */
    }
    .grid-content3 {
        grid-template-columns: repeat(4,1fr);
    }
    .top-context {
        font-size: 34px;
    }
}

@media (min-width: 768px) {
    .grid-content {
        grid-template-columns: repeat(2, 1fr);
        /* Currently website is responsive without template area */
    }
    figure {
        margin: 0;
        /* aligns content inside figure to fit top and bottom */
        padding: 0 3px;
    }
    body {
        margin: 46px;
        /* this creates space on tablet view around website */
    }
    nav {
        width: 50%;
        float: left;
        /* floats the nav items to the left */
        text-align: left;
    }
    .bottom-content a {
        /* text-decoration: none; */
    }
    .bottom-content > .right {
        float: right;
        text-align: right;
        width: 50%;
    }
    
}
@media (min-width: 850px) {
    body{
        margin:0 20px;
        /* padding: 10px 50px;  */
    }
    .container {
        margin: 0 30px;
        /* removed 300 to 30 */
    }
    .grid-content {
        grid-template-columns: repeat(3, 1fr);
        /* Currently website is responsive without template area */
    }
    
}
